div{
    border: solid black 2px;
}

.main

.topp{
    padding: 0 0 0 10;
}

.nav li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 20;
    padding: 10px;
}

.innhold{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
}

.artikkel{
    border: solid white 0px;
    margin: 5px;
}

.footer{
    text-align: center;
    padding: 50 0 0 0;
}