div{
    border: solid black 2px;
}

.main{
    max-width: 100%;
    height: auto;
}

.topp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
}

.topp h1{
    margin-left: 15px;
}

.logginn{
    margin: 30px;
}

.innhold{

}

.topptekst1{
    border: none;
    margin-left: 20px;
}

.topptekst1 p{
    font-weight: bold;
}

.topptekst{
    font-weight: bold;
    border: none;
    margin: none;
}

.artikkeler{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border: none;
}

.artikkeler img{
    height: auto;
    width: 100%;

}


.artikkel1{
    border: none;
    max-width: 40%;
    order: 1;
    margin-right: 50px;

}

.artikkel2{
    border: none;
    max-width: 40%;
    order: 2;
    margin-left: 50px;
}


.footertext{
    display: inline-flex;
    flex-direction: row;
    border: none;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.footer li{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
}

.footer p{
    text-align: center;

}
