div{
    border: solid black 2px;
}

.main

.topp{}

.innhold{

}

.topptekst1{
    border: none;
    margin-left: 20px;
}

.topptekst1 p{
    font-weight: bold;
}

.topptekst{
    font-weight: bold;
    border: none;
    margin: none;
}

.artikkeler{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    border: none;
}

.artikkeler img{
    height: auto;
    width: 100%;

}


.artikkel1{
    border: none;
    max-width: 40%;
    order: 1;
    margin-right: 50px;

}

.artikkel2{
    border: none;
    max-width: 40%;
    order: 2;
    margin-left: 50px;
}


.footertext{
    display: inline-flex;
    flex-direction: row;
    border: none;
}

.footer li{
    display: flex;
    flex-direction: column;
}

.footer p{
    text-align: center;

}
