body{
    margin: 0;
    background-color: black;
}



.nav{
    justify-content: space-evenly;
    top: 0;
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
}

.nav_li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 5px;

}

.nav_li :hover{
    text-decoration: underline;
    background-color: purple;    
}

.nav_logo :hover{
    text-decoration: none;
    background-color: purple;
}

.new_release{
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
  

}

.embed{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.title{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    color: white;
}

.info{
    grid-row-start: 2;
    grid-row-end: 4;

    padding: 20px;
    color: white;
    text-align: center;

}

.about{
    color: white;
    padding: 20px;
}

.footer{
    color: white;
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .display_flex{
        display: flex;
    }

    .display_grid{
        display: grid;
    }

  }

@media only screen and (max-width: 767px) {
    .display_flex{
        display: none;
    }

    .display_grid{
        display: none;
    }

    
  }
